header{
    background-image: url(../image/amorphous.png);
    background-color: rgba(255, 255, 255, 0.562);
    background-repeat: no-repeat;
    width: auto;
    height: 155px;
    color: #333;
}
header p{
    text-align: right;
}
.news p{
    font-size: 16px;
}
.news .timestamp{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.617);
}
footer{
    background-color: rgb(171, 224, 180);
    text-align: center;
}
a{
    text-decoration: none;
}
a:link{
    color:blue;
}
a:visited{
    color:blue
}
a:hover{
    color:black;
    background-color: rgb(189, 189, 255);
}
a:active{
    color: blueviolet;
}
/*ボタンの固定*/
html{
    scroll-behavior: smooth;
}
#upscroll{
    margin-left:auto;
    height: 100px;
    width:  100px;
}
#downscroll{
    margin-right:auto;
    height: 100px;
    width:  100px;
}
button{
  display: inline-block; /* ボタンを横並びにする */
  border: none; /* 枠線をなくす */
  border-radius: 5px; /* 角丸をつける */
  padding: 10px 15px; /* ボタンの内側の余白 */
  margin: 5px; /* ボタン同士の余白 */
  background-color: #96b97d; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  text-align: center; /* ボタンのテキストを中央揃えにする */
  text-decoration: none; /* テキストに下線をつけない */
  font-size: 15px; /* テキストのフォントサイズ */
  cursor: pointer; /* マウスポインタを変更する */
  position: fixed;
}
