header{
    background-image: url(../image/amorphous.png);
    background-color: rgba(255, 255, 255, 0.562);
    background-repeat: no-repeat;
    width: auto;
    height: 155px;
    color: #333;
}
header p{
    text-align: right;
}
.news p{
    font-size: 16px;
}
.news .timestamp{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.617);
}
footer{
    background-color: rgb(171, 224, 180);
    text-align: center;
}
a{
    text-decoration: none;
}
a:link{
    color:blue;
}
a:visited{
    color:blue
}
a:hover{
    color:black;
    background-color: rgb(189, 189, 255);
}
a:active{
    color: blueviolet;
}
/*ボタンの固定*/
html{
    scroll-behavior: smooth;
}
.button
{
  position: fixed;
  bottom: 10px; 
  right: 10px;
  padding: 6px 40px;
  background: #000000;
  color: #ffffff;
  border-radius: 50vh;
  padding: 1em 2em 0.8em;
  line-height:1;
  display: inline-block
}
